<div class="page-heading">
    <h1 class="page-title">Course-Details</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">
              <h3 style="align-content: right">Course-Details</h3>
            </div>
        </div>
        <div class="ibox-body">
  <div class="col-md-12 form-inline">
    <div class="form-group col-sm-4 ">
      <a routerLink="/user-Courses-information">
  <img src ="../../../../assets/img/Capture.PNG"><label>Course-Details</label></a>
    </div>
  <div class="form-group col-sm-4">
      <a>
    <img src="../../../../assets/img/Quiz.PNG"><label>Quiz</label></a>
  </div>

  <div class="form-group col-sm-4">
      <a href="/view-User-announcement">
    <img src="../../../../assets/img/Announcements.PNG"><label>Announcements</label></a>
  </div>

  <div class="form-group col-sm-4">
      <a routerLink="/view-User-Assignments-details">
  <img src="../../../../assets/img/Assignments.PNG"><label>Assessments</label></a>
  </div>
  
  
  
  <div class="form-group col-sm-4">
      <a routerLink="/view-User-Assignments">
    <img src="../../../../assets/img/Assignments1.PNG"><label>Assignment</label></a>
  </div>

  <div class="form-group col-sm-4">
      <a routerLink="/view-User-survey">
    <img src="../../../../assets/img/Surveys.PNG"><label>Surveys</label></a>
  </div>

  
  </div>
  </div>
  </div>
  </div>