<div class="page-heading">
  <h1 class="page-title">View Catalog</h1>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="ibox">
      <div class="ibox-head">
          <div class="ibox-title">View Catalog</div>
      </div>
      <div class="ibox-body">
        
          <table class="table table-striped table-bordered table-hover table-responsive"  id="example-table" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Code</th>
                          <th>Course</th>
                          <th>Delivery Method</th>
                          <th>Discipline</th>
                          <th>Status</th>
                          <th colspan="2" style="text-align: center">Action</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Self Enroll</th>
                        <th> VIew Details</th>
                      </tr>
                  </thead>
                      <tbody>
                       <!-- *ngFor="let course of Coursesd"> -->

                              <tr>
                                <td> 001 </td>
                                <td> Hadoop </td>
                                <td> elearning </td>
                                <td> cloud computing </td> 
                                <td> Active </td> 
                                      <!-- <td> {{ course.code }} </td>
                                      <td> {{ course.name }}</td>
                                      <td>{{ course.deliveryMethod }} </td> 
                                      <td>{{ course.major }} </td>
                                      <td>{{ course.status }} </td> -->
                                     <td align=" center">
                                      <button type="button" ><a>
                                         <!-- [routerLink]="['/edit-Course', course.id]" -->
                                         Enroll </a></button>
                                     </td>
                                     <td align=" center">
                                      <button type="button" ><a routerLink="/view-user-catalog-details">
                                         <!-- [routerLink]="['/delete-Courses', course.id]" style="color:lightseagreen" > -->
                                         <i class="ti-list"></i></a> </button> 
                                      <!-- <button type="button" ><a routerLink="/courses-Details" style="color:lightseagreen" ><i class="ti-list"></i></a> </button>  -->
                   
                                     </td>
                                  </tr>

                                  
                              <tr>
                                  <td> 002 </td>
                                  <td> Networking </td>
                                  <td> classroom </td>
                                  <td> QA </td> 
                                  <td> Active </td> 
                                       
                                       <td align=" center">
                                        <button type="button" ><a>
                                           <!-- [routerLink]="['/edit-Course', course.id]" -->
                                           Enroll </a></button>
                                       </td>
                                       <td align=" center">
                                        <button type="button" ><a routerLink="/view-user-catalog-details">
                                           <!-- [routerLink]="['/delete-Courses', course.id]" style="color:lightseagreen" > -->
                                           <i class="ti-list"></i></a> </button> 
                                        <!-- <button type="button" ><a routerLink="/courses-Details" style="color:lightseagreen" ><i class="ti-list"></i></a> </button>  -->
                                       </td>
                                    </tr>
                                   

              </tbody>
              </table>
      </div>
  </div>
</div>

             
     