<div class="page-heading">
    <h1 class="page-title">View content</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">View content</div>
        </div>
        <div class="ibox-body">
          
            <table class="table table-striped table-bordered table-hover table-responsive" id="example-table" cellspacing="0" width="100%">
                    <thead>
                            <tr>
                                <th>Content Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let content of Contentsd; let i=index">

                                <tr>
                                        <td> {{ content.name }} </td>
                                        <td> {{ content.startDate }}</td>
                                        <td>{{ content.endDate }} </td> 
                                        <td>{{ content.status }} </td> 
                                       <td>
                                         <button type="button"><a [routerLink]="['/edit-Content', content.id]"><i class="ti-pencil-alt"></i></a></button>
                                      <button type="button" ><!--data-toggle="tooltip" data-placement="bottom" title="Delete details" >-->
                                         <a [routerLink]="['/delete-Content', content.id]" style="color:lightseagreen" ><i class="ti-trash"></i></a> </button> 
                                        <button type="button">
                                         <a routerLink=" " style="color:lightseagreen" ><i class="ti-download"></i></a> </button> 
                                         <button type="button"><a [routerLink]="['/view-Content-details', content.id]"><i class="ti-list"></i></a></button>

                                         </td> 
                                    </tr>

                </tbody>
                </table>
        </div>
    </div>
  </div>
  