<div class="page-heading">
  <h1 class="page-title">Search Discipline</h1>
  <p style="font-size:10px"> 
    To find a major to view or edit, fill out the search criteria below and click Search. From the list that is generated, click the View/Edit link next to the appropriate major.
  </p>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
     <!-- <li class="breadcrumb-item"></li>  -->
  </ol>
</div>

<div class="row" >
    <div class="col-md-6" width="auto">
        <div class="ibox">
          
            <div class="ibox-head">
                  
              <div class="ibox-title"> Search</div>
              <div class="ibox-tools">
                  <a class="ibox-collapse" data-widget="collapse" ><i class="fa fa-minus"></i></a>
                <!--  <a class="fullscreen-link"><i class="fa fa-expand"></i></a> -->
              </div>
          </div>
          <div class="ibox-body" > 
         

        <div class="form-group row">
            <label class="col-sm-4 col-form-label small">Discipline Name :</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" required >
            </div>
        </div>

       
        
           
          <div class="form-group row">
            <label class="col-sm-4 col-form-label small">Status   :</label>
            <div class="check-list">
        <div class="col-sm-8">
                        
          <label class="ui-radio ui-radio-gray small5">
              <input type="radio" name="test13" checked="">
              <span class="input-span"></span>Active</label>
          <label class="ui-radio ui-radio-gray small5">
              <input type="radio" name="test13" >
              <span class="input-span"></span>Inactive</label>
          <label class="ui-radio ui-radio-gray small5">
                  <input type="radio" name="test13" >
                  <span class="input-span"></span>Both</label>
          
          </div> 
          </div>
          </div>

        </div>
  
                          
                                <div class="form-group row">
                                        <div class="form-group row">
                                            <div class="col-sm-8 ml-sm-auto">
                                                <button class="btn btn-info" type="submit">Search</button>
                                            </div>
                                        </div>
                                </div>
  </div>
  </div>
</div>
