<div class="page-heading">
    <h1 class="page-title">View Organisation</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">View Organisation</div>
        </div>
        
                        <div class="ibox-body">
                          <table class="table table-striped table-bordered table-hover table-responsive" id="example-table" cellspacing="0" width="100%">
                                  <thead>
                                      <tr>
                                              <th> Code </th>
                                              <th> Organisation Name </th>
                                              <th> Type </th>
                                              <th> Address </th>
                                              
                                              <th> Action </th>
                
                                      </tr>
                                   
                            </thead>
                                      <tbody *ngFor="let organization of organizationsd; let i=index">
                
                                              <tr>
                                                  <td>{{ organization.orgCode }}</td>
                                                <td> {{ organization.orgName }} </td>
                                                <td>{{ organization.type }}</td>    
                                                <td> {{ organization.city }} </td>
                                              
                                                <td>
                                                      <button type="button"><a [routerLink]="['/edit-Organizations',organization.id]"><i class="ti-pencil-alt"></i></a></button>
                                                      <button type="button"><a [routerLink]="['/delete-Organizations',organization.id]"><i class="ti-trash"></i></a></button>
                                                      <button type="button"><a [routerLink]="['/view-Organizations-details',organization.id]"><i class="ti-list"></i></a></button>
                
                                                        
                                                    </td>
                                                  </tr>
                                                 
                              </tbody>
                              </table>
                      </div>
                                             
    </div>
  </div>
                       
              