<div id="sidebar-collapse">
    <div class="admin-block d-flex">
        <div>
            <img src="./assets/img/admin-avatar.png" width="45px" />
        </div>
        <div class="admin-info">
            <div class="font-strong">Basavaraj C</div><small>Administrator</small></div>
    </div>
    <ul class="side-menu metismenu">
        <li>
            <a routerLinkActive="active" routerLink="/adminindex"><i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="heading">FEATURES</li>
        <!-- LMS Menu Start -->
        <li>
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Course Management</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse">
                <li>
                     <a routerLinkActive="active" routerLink="/add-Courses">Add Course</a>
                </li>
                <li> 
                    <a routerLinkActive="active" routerLink="/view-courses">View Course</a>  
               </li>
                <li>
                    <a routerLinkActive="active" routerLink="/search-Courses">Search Courses</a>
                </li>
                <li>
                    <a href="javascript:;">Course Terms</a>
                </li>
                 
                <li>
                    <a href="javascript:;">Course Creation Wizard</a>
                </li>
                <li>
                    <a href="javascript:;">Admin Console</a>
                </li>
               
            </ul>
        </li>

        <li>
                <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Content Management</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a routerLinkActive="active" routerLink="/add-Resources">Add Content</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/view-content">View Content</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/search-Resources">Search Content</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/add-Categories" >Add Categories</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/view-Categories">View Categories</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/search-Categories">Search Categories</a>
                    </li>
                    
                    
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Course Catalog</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a routerLinkActive="active" routerLink="/course-Catalog">Search Catalog</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/view-Catalog">View Catalog</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Course Support</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a routerLinkActive="active" routerLink="/add-Term" >Add Term</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/view-Term" >View Term</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/search-Term" >Search Term</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/add-Discipline"  >Add Discipline</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/view-Discipline" >View Discipline</a>
                    </li>
                    <li>
                        <a routerLinkActive="active" routerLink="/search-Discipline" >Search Discipline</a>
                    </li>
                </ul>
            </li>
            <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                        <span class="nav-label">User Management</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                       
        
                            <li>
                                    <a routerLinkActive="active" routerLink="/add-User">Add User</a>
                            </li>
                            <li>
                                    <a routerLinkActive="active" routerLink="/view-User">View User</a>
                            </li>
                            <li>
                                    <a routerLinkActive="active" routerLink="/search-User">Search User</a>
                            </li>
                            <!-- <li>
                                <a routerLink="/tables/datatables" routerLinkActive="active">User Accounts</a>
                            </li>
                            <li>
                                <a href="javascript:;">Enroll Users</a>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;"><i class=""></i>
                                    <span class="nav-label">Roles & Privileges </span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                   
                                        <li>
                                            <a href="javascript:;">Institutional Roles</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">System Roles</a>
                                        </li>
                                         <li>
                                            <a href="javascript:;">Observers</a>
                                        </li>
                                    
                                </ul>
                            </li> -->
                             <!-- <li>
                                <a href="javascript:;">Search for Users</a>
                            </li> -->
                             <!-- <li>
                                <a href="javascript:;">Merge Enrollments</a>
                            </li>
                             <li>
                                <a href="javascript:;">Batch File Guidelines</a>
                            </li>
                            <li>
                                <a href="javascript:;">User Profiles</a>
                            </li> -->
                    </ul>
                </li>

        <li>
                <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Institutional Roles</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           
            
                                <li>
                                        <a routerLinkActive="active" routerLink="/add-Institutional-Roles">Add Institutional Roles</a>
                                </li>
                                <li>
                                        <a routerLinkActive="active" routerLink="/view-Institutional-Roles">View Institutional Roles</a>
                                </li>
                                <li>
                                        <a routerLinkActive="active" routerLink="/search-Institutional-Roles">Search Institutional Roles</a>
                                </li>
                            
                        </ul>
                    </li>
    
            <li>

                    <li>
                            <li>
                                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                        <span class="nav-label">System Roles</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-2-level collapse">
                                       
                        
                                            <li>
                                                    <a routerLinkActive="active" routerLink="/add-System-Roles">Add System Roles</a>
                                            </li>
                                            <li>
                                                    <a routerLinkActive="active" routerLink="/view-System-Roles">View System Roles</a>
                                            </li>
                                            <li>
                                                    <a routerLinkActive="active" routerLink="/search-System-Roles">Search System Roles</a>
                                            </li>
                                        
                                    </ul>
                                </li>
                
                                <li>
                                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                        <span class="nav-label">Organization Management</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-2-level collapse">
                                       
                                            <li>
                                                <a routerLinkActive="active" routerLink="/add-Organizations">Add Organisations</a>
                                            </li>
                                            <li>
                                                <a routerLinkActive="active" routerLink="/view-Organizations">View Organisations</a>
                                            </li>
                                             <li>
                                                <a routerLinkActive="active" routerLink="/search-Organizations">Search Organisations</a>
                                            </li>
                                        
                                    </ul>
                                </li>
                        
                        <li>


            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">System Management</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse">
               
              
                <li>
                    <a href="javascript:;">
                        <span class="nav-label">Admin Console</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse">
                        <li>
                            <a href="javascript:;">Databases</a>
                        </li>
                        <li>
                            <a href="javascript:;">Memory</a>
                        </li>
                         <li>
                            <a href="javascript:;">Threads</a>
                        </li>
                        <li>
                            <a href="javascript:;">Monitors</a>
                        </li>
                    </ul>
                </li>
                 <li>
                    <a href="javascript:;">
                        <span class="nav-label">Cloud Management</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse">
                        <li>
                            <a href="javascript:;">Cloud Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">Clone Cloud</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Tools Management</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse">
               
                <li>
                        <a href="javascript:;">Content Collection</a>
                    </li>
                <li>
                        
                    <a href="javascript:;">
                        <span class="nav-label">Notification Dashboard</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse">
                        <li>
                            <a href="javascript:;">Instructor Modules</a>
                        </li>
                        <li>
                            <a href="javascript:;">Student Modules</a>
                        </li>
                         <li>
                            <a href="javascript:;">Email Notifications</a>
                        </li>
                        <li>
                            <a href="javascript:;">SMS & Text-Voice Notifications</a>
                        </li>
                    </ul>
                </li>
                 
            </ul>
        </li>
       
      

        <!-- LMS Menu End -->
<!--        
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-bookmark"></i>
                <span class="nav-label">Basic UI</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/ui/colors" routerLinkActive="active">Colors</a>
                </li>
                <li>
                    <a routerLink="/ui/typography" routerLinkActive="active">Typography</a>
                </li>
                <li>
                    <a routerLink="/ui/panels" routerLinkActive="active">Panels</a>
                </li>
                <li>
                    <a routerLink="/ui/buttons" routerLinkActive="active">Buttons</a>
                </li>
                <li>
                    <a routerLink="/ui/tabs" routerLinkActive="active">Tabs</a>
                </li>
                <li>
                    <a routerLink="/ui/alerts" routerLinkActive="active">Alerts &amp; Tooltips</a>
                </li>
                <li>
                    <a routerLink="/ui/badges_progress" routerLinkActive="active">Badges &amp; Progress</a>
                </li>
                <li>
                    <a routerLink="/ui/lists" routerLinkActive="active">List</a>
                </li>
                <li>
                    <a routerLink="/ui/cards" routerLinkActive="active">Card</a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                <span class="nav-label">Forms</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/forms/form_basic" routerLinkActive="active">Basic Forms</a>
                </li>
                <li>
                    <a routerLink="/forms/form_advanced" routerLinkActive="active">Advanced Plugins</a>
                </li>
                <li>
                    <a routerLink="/forms/form_masks" routerLinkActive="active">Form input masks</a>
                </li>
                <li>
                    <a routerLink="/forms/form_validation" routerLinkActive="active">Form Validation</a>
                </li>
                <li>
                    <a routerLink="/forms/text_editors" routerLinkActive="active">Text Editors</a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                <span class="nav-label">Tables</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/tables/basic" routerLinkActive="active">Basic Tables</a>
                </li>
                <li>
                    <a routerLink="/tables/datatables" routerLinkActive="active">Datatables</a>
                </li>
            </ul>
        </li> 
   
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                <span class="nav-label">Charts</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/charts/charts_morris" routerLinkActive="active">Morris Charts</a>
                </li>
                <li>
                    <a routerLink="/charts/chartjs" routerLinkActive="active">Chart.js</a>
                </li>
                <li>
                    <a routerLink="/charts/charts_sparkline" routerLinkActive="active">Sparkline Charts</a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
                <span class="nav-label">Maps</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/maps_vector" routerLinkActive="active">Vector maps</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/ui/icons" routerLinkActive="active"><i class="sidebar-item-icon fa fa-smile-o"></i>
                <span class="nav-label">Icons</span>
            </a> 
        </li>-->
        <li class="heading">Account</li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-envelope"></i>
                <span class="nav-label">Mailbox</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/mailbox/mailbox" routerLinkActive="active">Inbox</a>
                </li>
                <li>
                    <a routerLink="/mailbox/mail_view" routerLinkActive="active">Mail view</a>
                </li>
                <li>
                    <a routerLink="/mailbox/mail_compose" routerLinkActive="active">Compose mail</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/calendar" routerLinkActive="active"><i class="sidebar-item-icon fa fa-calendar"></i>
                <span class="nav-label">Calendar</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                <span class="nav-label">Pages</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/invoice" routerLinkActive="active">Invoice</a>
                </li>
                <li>
                    <a routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li>
                    <a routerLink="/lockscreen" routerLinkActive="active">Lockscreen</a>
                </li>
                <li>
                    <a routerLink="/forgot_password" routerLinkActive="active">Forgot password</a>
                </li>
                <li>
                    <a routerLink="/error_404" routerLinkActive="active">404 error</a>
                </li>
                <li>
                    <a routerLink="/error_500" routerLinkActive="active">500 error</a>
                </li>
            </ul>
        </li>
    
        <!-- <li>
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
            <ul class="nav-2-level collapse">
                <li>
                    <a href="javascript:;">Level 2</a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-3-level collapse">
                        <li>
                            <a href="javascript:;">Level 3</a>
                        </li>
                        <li>
                            <a href="javascript:;">Level 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> -->
   
    </ul>
</div>
