<div class="page-heading">
  <h1 class="page-title">Contact Support</h1>
  <hr>
  <!-- <p style="font-size: 10px">The Add User form can be used to create login information for a new employee. Fill in all required fields and any desired optional fields, then click Submit. [*] indicates a required field.</p><br> -->

  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
     <!-- <li class="breadcrumb-item">Add Course</li> -->
  </ol>
</div>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div align="center">
        <!-- <form #CoursesForm="ngForm" (ngSubmit)="onSubmit(CoursesForm)"> -->

      <div class="col-md-8" width="auto">
          <div class="ibox">
            
              <!-- <div class="ibox-head">
                  
                  <div class="ibox-title">Basic Information</div>
                  <div class="ibox-tools">
                      
                      <a class="ibox-collapse" data-widget="collapse" ><i class="fa fa-minus"></i></a> -->
                    <!--  <a class="fullscreen-link"><i class="fa fa-expand"></i></a> -->
                 <!-- </div>
              </div> -->
              <div class="ibox-body" >
                 
                  <div class="form-horizontal">
                      
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label small">Email :</label>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" required  id="userName" name="userName" >
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label small">How May we Help You? : </label>
                          <div class="col-sm-8">
                              <input class="form-control" type="text" required id="firstName" name="firstName"  >
                          </div>
                      </div>
                                 
                                    <div class="form-group" align="right">
                                        <div class="col-sm-8 ml-sm-auto">
                                                <button class="btn btn-info" type="submit">Submit</button>
                                            </div>
                                    </div>


                              </div>
                              </div>
                          </div>
                      </div>
 </div>
</form>

          
          



