<div class="page-heading">
  <h1 class="page-title">View Content</h1>
  <!-- <p style="font-size :10px;"> 
        This page can be used to add information for a resource. [*] indicates a required field

      </p> -->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
     <!-- <li class="breadcrumb-item"></li>  -->
  </ol>
</div>

<div>
     <form [formGroup]="contentForm" (ngSubmit)="onSubmit(contentForm)"> 
    <div class="col-md-6" width="auto">
        <div class="ibox">
           <div class="ibox-head">
                  
              <div class="ibox-title">General Information</div>
              <div class="ibox-tools">
                  <a class="ibox-collapse" data-widget="collapse" ><i class="fa fa-minus"></i></a>
                <!--  <a class="fullscreen-link"><i class="fa fa-expand"></i></a> -->
              </div>
          </div>
        
          <div class="ibox-body" > 
          <div class="form-group row">
            <label class="col-sm-4 col-form-label small">Language : </label> 
            <div class="col-sm-8">
                <input class="form-control" id="language" formControlName="language" disabled >
                </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label small"> * Owner Organizations :</label>
            <div class="col-sm-8 " formArrayName="ownerOrganizations">
              <!-- <table> -->
                  <div *ngFor="let ownerOrganizationsCtrl of contentForm.get('ownerOrganizations').controls; let i = index"
                  [formGroupName]="i" style="margin-bottom:10px" >
                  <div class="col-sm-5">
                  
                          <input  id="ownerOrganizations" formControlName="ownerOrganizations" disabled>
                      
                  </div>
                  </div>
                                    
              </div>
              </div>



        <div class="form-group row">
            <label class="col-sm-4 col-form-label small">* Name : </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" formControlName="name" disabled >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label small" >* Type : </label>
            <div class="col-sm-8">
                    <input class="form-control" id="type" formControlName="type" disabled>
            </div>
        </div>

        <div class="form-group row">
                <label class="col-sm-4 col-form-label small">Description :</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="3" id="discription" formControlName="discription" disabled></textarea>
                </div>
            </div>

            <div class="form-group row" id="date_1">
                    <label class="col-sm-4 col-form-label small">Start Date : (MM/DD/YYYY)</label>
                    <div class="col-sm-8">
                            <div class="form-group date">
                            <input class="form-control" type="date"  id="startDate" formControlName="startDate" disabled>
                    </div>
                </div>
                </div>

                <div class="form-group row" id="date_1">
                        <label class="col-sm-4 col-form-label small">End Date : (MM/DD/YYYY)</label>
                        <div class="col-sm-8">
                            <div class="form-group date">
                                <input class="form-control" type="date"  id="endDate" formControlName="endDate" disabled>
                            </div>
                    </div>
                    </div>

                    <div class="form-group row ">
                        <label class="col-sm-4 col-form-label small">Status  :</label>
                    <div class="col-sm-8 " >
                                    <div class="radio" *ngFor="let option of status">
                                  <label >
                                      <input type="radio" formControlName="status" id="status" [value]="option" disabled>{{ option }}
                                  </label>      
                                  </div>
                      </div>
                      </div>

        </div>
        </div>
    </div>

    <!-- <div class="col-md-6" width="auto">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">File Information</div>
                                <div class="ibox-tools">
                                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                </div> 
                            </div>
                            <div class="ibox-body" >
                                    <div class="form-group row">
                                            <label class="col-sm-4 col-form-label small">* File Path :
                                                    (Maximum size allowed is 180MB) </label>
                                                    <div class="col-sm-8">
                                                            <input class="form-control" type="file" placeholder="No File chosen" id="pic" formControlName="pic">
                                                            </div>
                                                        </div>
                                           
                                        </div>
</div>
</div> -->
                             
<div class="col-md-6" width="auto">

                            <div class="ibox">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Contact Information</div>
                                        <div class="ibox-tools">
                                            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        </div> 
                                    </div>
                                    <div class="ibox-body" >
                                    <div class="form-group row">
                                            <label class="col-sm-4 col-form-label small">Contact Name : </label>
                                            <div class="col-sm-8">
                                                    <input class="form-control" type="text" required style="width:50%" id="contactName" formControlName="contactName" disabled>
                                                
                                        </div>
                                    </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4 col-form-label small">Contact Number : </label>
                                                <div class="col-sm-8">
                                                        <input class="form-control" type="text" required style="width:50%" id="contactNumber" formControlName="contactNumber" disabled>
                                                    </div>
                                        </div>


                                    </div>
                                </div>

                             

                                
  </div>
  </form>
  
  </div>
