<div class="page-heading">
  <h1 class="page-title">View Surveys</h1>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="ibox">
      <div class="ibox-head">
          <!-- <div class="ibox-title">List Of Enroll-User</div> -->
    
          <!-- <button type="button" align="right">Add Surveys</button>        -->
         </div>
      <div class="ibox-body">
        <div class="form-group">
            <div class="col-md-6" width="auto">
          <a routerLink="/add-surveys">
          <img src ="../../../../assets/img/Surveys.PNG">
          <label>Add Surveys</label></a>
        </div>
        <br><br>
          <table class="table table-striped table-bordered table-hover table-responsive"  id="example-table" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Survey Name</th>
                          <th>Code</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          
                          <th colspan="5" style="text-align: center">Actions</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Publish</th>
                        <th>Reporting</th>
                        <th>View Details</th>
                      </tr>

                  </thead>

                  <!-- <tbody *ngFor="let enrolled of enrolledDataList;let i of enrolledDataList.index ">

                      <tr>
                          <td><input type="checkbox"> {{ enrolled.id }} </td>
                              <td> {{ enrolled.userName }} </td>
                              <td> {{ enrolled.firstName }}</td>
                              <td>{{ enrolled.lastName }} </td> 
                              <td>{{ enrolled.email }} </td>
                              <td>{{ enrolled.country }} </td>
                             <td>
                              <button type="button" (click)="onEnrollUser(enrolled.id-1)" ><a >Cancel Enrollment</a></button>
                              </td> -->
                   
                   <!-- <   <tbody *ngFor="let course of Coursesd"> -->

                              <!-- <tr>
                                      <td> {{ course.code }} </td>
                                      <td> {{ course.name }}</td>
                                      <td>{{ course.deliveryMethod }} </td> 
                                      <td>{{ course.major }} </td>
                                      <td>{{ course.status }} </td>
                                     <td>
                                      <button type="button"><a [routerLink]="['/edit-Course', course.id]"><i class="ti-user"></i></a></button>
                                      <button type="button" ><a [routerLink]="['/delete-Courses', course.id]" style="color:lightseagreen" ><i class="ti-trash"></i></a> </button> 
                                      <button type="button" ><a routerLink="/course-details" style="color:lightseagreen" ><i class="ti-list"></i></a> </button> -->


                                      <!-- <button type="button" data-toggle="tooltip" data-placement="bottom" title="Delete details" > <a style="color:lightseagreen" class="small3" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="ti-list"></i></a> </button> 
                                          <form >
                                              <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-xl">
                                                      <div class="modal-content">
                                                          <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">Delete Comformation</h5>
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                      <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                          </div>
                                                              <div class="modal-body">
                                                                  Are You sure You want You Delete?
                                                              </div>
                                                              <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onDeleteRecipe(server.id)">Yes</button>
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                              </div>
                                                      </div>
                                                  </div>
                                              </div>   
                                          </form>                        -->
                                  <!--   </td>
                                  </tr> -->
 <tbody>
                                  <tr>
                                    <td> Survey 1</td>
                                    <td>001</td>
                                    <td>5/4/19</td>
                                    <td>15/4/19</td>
                                    <td><a routerLink="/edit-surveys"><button type="button"><i class="ti ti-pencil-alt"></i></button></a></td>
                                    <td><a routerLink="/delete-surveys"><button type="button"><i class="ti ti-trash"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-cloud-up"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-info"></i></button></a></td>
                                    <td><a routerLink="/view-surveys-details"><button type="button"><i class="ti ti-list"></i></button></a></td>

                                  </tr>
                                  <tr>
                                    <td> Survey 2</td>
                                    <td>002</td>
                                    <td>5/4/19</td>
                                    <td>15/4/19</td>
                                    <td><a><button type="button"><i class="ti ti-pencil-alt"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-trash"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-cloud-up"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-info"></i></button></a></td>
                                    <td><a><button type="button"><i class="ti ti-list"></i></button></a></td>

                                  </tr>
                                 
              </tbody>
              </table>
              </div>
      </div>
  </div>
</div>

             
     