<div class="page-heading">
  <h1 class="page-title">Course Catalog</h1>
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html"><i class="la la-home font-20"></i></a>
      </li>
     <!-- <li class="breadcrumb-item"></li>  -->
  </ol>
</div>
<form class="form-horizontal" #SearchCourse="ngForm" (ngSubmit)="onSubmit(SearchCourse)" >

<div class="row">
    <div class="col-md-6" width="auto">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Course Catalog</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
               <p style="font-size:11px"> 
                 To search for a course, enter your search criteria and click Search. From the list of courses that displays, you can click the course name to view detailed information about the course.
                </p>
        
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Keyword :
                      </label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="ti-search" ></i></div>
                                <input class="form-control" type="text" id="keyword" name="keyword" ngModel>
                            </div>
                            <label class="small">(Course Name)
                              </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="form-group row">
                        <div class="col-sm-8 ml-sm-auto">
                            <button class="btn btn-info" type="submit" [disabled]="!search"> Search</button>
                        </div>
                    </div> -->
            </div>
                   
          </div>
        </div>
        <div class="col-md-6" width="auto">
                <div class="ibox">
         <div class="ibox-head">
                <div class="ibox-title">Filters</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
           <div class="ibox-body">
            <div class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Course Code :</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                                <input class="form-control" type="text" id="code" name="code" ngModel>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Catalog :</label>
                    
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" multiple="">
                                <option value="" class="small">NXT Bussiness Unit</option>
                            </select>
                        </div>
                        <label class="small">(Hold CTRL to select multiple items)</label>

                    </div>
                </div> -->
                
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Discipline :</label>
                    
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control" id="major" name="major" ngModel>
                                <option *ngFor="let majors of disciplinesd" [value]="majors.name">{{ majors.name }}</option>
                            </select>
                        </div>

                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label small"> Delivery Method :</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="deliveryMethod" name="deliveryMethod" ngModel>
                              <option *ngFor="let deliveryMethods of deliveryMethod" [value]="deliveryMethods">{{ deliveryMethods }}</option>
                        </select>
                    </div>
                </div>


                <div class="form-group row ">
                    <label class="col-sm-4 col-form-label small">Status  :</label>
                <div class="col-sm-8 " >
                                <div class="radio" *ngFor="let option of status">
                            <label >
                                <input type="radio" name="status" id="status" [value]="option" ngModel>{{ option }}
                            </label>      
                            </div>
                </div>
                </div>

                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Tuition : :</label>
                    <div class="check-list">

                    <div class="col-sm-8">
                      
                            <label class="ui-radio ui-radio-gray small5">
                                <input type="radio" name="test2" >
                                <span class="input-span"></span>paid</label>
                            <label class="ui-radio ui-radio-gray small5">
                                <input type="radio" name="test2" >
                                <span class="input-span"></span>free</label>
                            <label class="ui-radio ui-radio-gray small5">
                                    <input type="radio" name="test2" checked="" >
                                    <span class="input-span"></span>Both</label>
                            
                </div>    
                </div>
                </div> -->
                

                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Subscription :</label>
                    <div class="check-list">

                    <div class="col-sm-8"> -->
                        <!-- <label class="ui-radio">
                            <input type="radio" name="test" checked="">
                            <span class="input-span"></span>Checked</label>-->
                            <!-- <label class="ui-radio ui-radio-gray small5">
                                <input type="radio" name="test3" checked="" >
                                <span class="input-span"></span>Non-Subscription</label>
                            <label class="ui-radio ui-radio-gray small5">
                                <input type="radio" name="test3" >
                                <span class="input-span"></span>Subscription Only </label>
                            <label class="ui-radio ui-radio-gray small5">
                                    <input type="radio" name="test3">
                                    <span class="input-span"></span>Both</label> -->
                            <!-- <label class="ui-radio ui-radio-inline">
                                <input type="radio" name="test">
                                <span class="input-span"></span>Option 3</label> -->
                <!-- </div>
                </div>    
                </div> -->

                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label small">Subscription Program  :</label>
                    
                    <div class="col-sm-8">
                        <div class="form-group">
                            <select class="form-control small1" multiple="">
                                <option value="">SUB 01</option>
                            </select>
                        </div>
                        <label class="small">(Hold CTRL to select multiple items)</label>
                    </div>
                </div> -->
                <div class="form-group row">
                    <div class="form-group row">
                        <div class="col-sm-8 ml-sm-auto">
                            <button class="btn btn-info" type="submit">Apply Fliters</button>
                        </div>
                    </div>
            </div>

        </div>
          </div>
          </div>
          </div>
          <div *ngIf="isDisable==true"> 
            <div class="ibox">
        
            <div class="ibox-body" > 
             <div >
                <table class="table table-striped table-bordered table-hover table-responsive"  id="example-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Course</th>
                            <th>Delivery Method</th>
                            <th>Discipline</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                        <tbody *ngFor="let course of coursesd">

                                <tr>
                                        <td> {{ course.code }} </td>
                                        <td> {{ course.name }}</td>
                                        <td>{{ course.deliveryMethod }} </td> 
                                        <td>{{ course.major }} </td>
                                        <td>{{ course.status }} </td>
                                       <td>
                                        <button type="button"><a [routerLink]="['/view-catalog-details', course.id]"><i class="ti-list"></i></a></button>
                                                              
                                       </td>
                                    </tr>

                </tbody>
                </table>
        </div>
        </div>
        </div>
     

</div>
</div>
</form>



