<!-- <button data-toggle="tooltip" data-placement="bottom" title="Delete details" ><a class="small3" data-toggle="modal" data-target=".bd-example-modal-xl">Delete Data</a>
<form >
  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Comformation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
                  <div class="modal-body">
                      Are You sure You want You Delete?
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onDeleteCategorie()">Yes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  </div>
          </div>
      </div>
  </div>   
</form>            
</button> -->