<div class="page-heading">
    <h1 class="page-title">Add Survey Qustions</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
  </div>
  <div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <!-- <div class="ibox-title">List Of Enroll-User</div> -->
      
            <!-- <button type="button" align="right">Add Surveys</button>        -->
           </div>
        <div class="ibox-body">
          <div class="form-group ">
              <div class="col-md-6 form-inline" width="auto">
                  <div class="form-inline col-sm-3">
                      <a routerLink="/yes-no-questions">
                  <img src="../../../../assets/img/yes.PNG"><label>Yes/No</label></a>
                  </div>
                  <div class="form-inline col-sm-3">
                      <a routerLink="/open-questions">
                  <img src="../../../../assets/img/opentext.PNG"><label>Open(TextBox)</label></a>
                  </div>
          </div>
          <br><br>
         
            <table class="table table-striped table-bordered table-hover table-responsive"  id="example-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </tr>
                            <tr>
                              <td>01</td>
                              <td>How is this LMS?</td>
                              <td>Open(Text box)</td>
                              <td>2</td>
                              <td><a routerLink="/edit-open-questions"><button type="button"><i class="ti ti-pencil-alt"></i></button></a></td>
                              <td><a><button type="button"><i class="ti ti-trash"></i></button></a></td>

                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Are  you alright?</td>
                                <td>Yes/No</td>
                                <td>2</td>
                                <td><a routerLink="/edit-yes-no-questions"><button type="button"><i class="ti ti-pencil-alt"></i></button></a></td>
                                <td><a><button type="button"><i class="ti ti-trash"></i></button></a></td>
                            </tr>
      
      
  